body {
    margin-top: 20px;
}

.menu {
    margin-bottom: 20px;
}

.ui.secondary.menu .active.item {
    background: repeating-linear-gradient(180deg, #ff7575, #ffffff 50px);
}


.ui.button {
    background: repeating-linear-gradient(180deg, #ff7575, #ffffff 50px);
}

/*.ui.card>.image>img, .ui.cards>.card>.image>img {*/
    /*width: 100%;*/
    /*height: auto;*/
    /*max-height: 360px;*/
    /*border-radius: inherit;*/
/*}*/